# Compiled class files
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Package Files #
*.jar
*.war
*.ear

# Eclipse/IntelliJ/VSCode project files
*.classpath
*.project
*.settings/
.idea/
*.iml

# MacOS / Windows system files
.DS_Store
Thumbs.db
